@import './config';

$primary_color: pink;
$secondary_color: blue;

h1 {
  text-align: center;
  margin: 5% 0 5% 0;
  color: $secondary_color;
  @include transition
}

h1:hover {
  color: green;
}

#bean_jar {
<<<<<<< HEAD
  height: 280px;
  width: 280px;
=======
  height: 250px;
  width: 250px;
>>>>>>> beanjar_feature
  background-color: hotpink;
  margin: auto;

  h2 {
    padding-top: 30%;
    text-align: center;
  }
}

.buttons {
  display: flex;
  width: 200px;
  margin: 5% auto;
  justify-content: space-evenly;

  button {
    padding: 10px;
  }
}

@include media-md {
  h1 {
    font-size: 2.5em;
  }
}